.detail-wrapper {
  min-height: 100vh;

  .detail-container {
    background: #fff;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.25);
    margin-bottom: 3em;
    margin-top: 3em;
    min-width: 800px;
    padding: 1em;

    .detail-top {
      display: flex;
      justify-content: space-between;

      .detail-images {
        display: flex;
        width: 40%;

        .thumbnails {
          display: flex;
          flex-direction: column;

          ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            li {
              list-style: none;
              border: 1px solid #b2b5b8;
              border-radius: 4px;
              width: 50px;
              height: 50px;
              padding: 0.1rem;
              cursor: pointer;

              &:hover {
                border: 1px solid transparent;
                outline: 2px solid $blue;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }

        .current-image {
          padding: 1em;
          width: 100%;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
      .detail-heading {
        width: 32%;
        padding-top: 1.5em;
        padding-right: 2em;

        &-condition {
          font-size: 0.8rem;
          color: #0000008c;
          margin-bottom: 0.5em;
        }

        .item-title {
          font-size: 1.375rem;
          font-weight: 500;
          margin-top: 0.5em;
        }

        .item-price {
          font-size: 2.25rem;
          font-weight: 300;
          color: #000000e6;
          margin-top: 1em;
        }
        .item-installments {
          font-size: 1.125rem;
        }
        .item-paymentMethods {
          color: $blue;
          font-size: 0.8rem;
          margin-top: 0.5em;
        }
      }
      .detail-actions {
        width: 28%;

        &-buy {
          border: 1px solid rgba(0, 0, 0, 0.1);
          -webkit-border-radius: 8px;
          border-radius: 8px;
          font-size: 0.875rem;
          padding: 1.15rem 1rem;
          width: 100%;

          .arrive-free {
            color: $green;
            font-weight: 500;
            font-size: 1rem;
          }

          .detail-shipp-adress {
            color: $blue;
          }

          .detail-actions-seller {
            margin-top: 1.5em;

            p:nth-child(1) {
              span {
                color: $blue;
              }
            }
          }
          .detail-stock {
            font-size: 1rem;
            font-weight: 500;
            margin: 1.5em 0;
          }
          .detail-quantity {
            font-size: 1rem;
            margin-bottom: 1.5em;
            span {
              color: #0000008c;
              font-size: 0.875rem;
            }
          }
          .detail-actions-buttons {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            .buynow {
              background-color: $blue;
              border: none;
              border-radius: 6px;
              padding: 1rem 1.25em;
              color: #fff;
              font-size: 0.9rem;
              font-weight: 600;
            }
            .addtocart {
              background-color: rgba(65, 137, 230, 0.15);
              border: none;
              border-radius: 6px;
              padding: 1rem 1.25em;
              color: $blue;
              font-size: 0.9rem;
              font-weight: 600;
            }
          }
          .benefits {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-top: 1.5em;
            font-size: 0.875rem;
            p {
              color: $blue;
              span {
                color: #0000008c;
              }
            }
          }
        }
      }
    }
  }
}
