.loyalty {
  .row-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1em 0;

    .loyalty-buylevel {
      border-radius: 6px;
      box-shadow: 0 1px 1px 0 hsla(0, 0%, 0%, 0.1);
      background: #fff;

      .loyalty-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          color-stop(55%, #a90f90),
          to(#0c1a51)
        );
        background: -webkit-linear-gradient(left, #a90f90 55%, #0c1a51);
        background: linear-gradient(90deg, #a90f90 55%, #0c1a51);
        min-height: 55px;
        padding: 1em 1.5em;
        height: 87px;
        color: #fff;

        .loyalty-price {
          border-left: 2px solid #fff;
          padding-left: 0.35em;
          p {
            font-size: 0.875rem;
            text-decoration: line-through;
          }

          h3 {
            font-size: 1.35rem;
            font-weight: 500;
            span {
              margin-left: 0.15rem;
              font-size: 0.75rem;
            }
          }
        }
      }

      .loyalty-body {
        display: flex;
        flex-direction: column;
        gap: 3em;
        padding: 1.5em;
        border-bottom: 1px solid #ededed;

        .loyalty-title {
          font-size: 1.125rem;
          font-weight: 300;
        }

        .loyalty-benefits {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .loyalty-benefit {
            display: flex;
            align-items: center;
            gap: 1em;

            p {
              font-size: 1rem;
              max-width: 290px;
            }

            .benefit-logo {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #efefef;
              border-radius: 50%;
              height: 72px;
              min-height: 72px;
              min-width: 72px;
              overflow: hidden;
              width: 72px;

              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }

      .loyalty-action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem 2.5rem;
        button {
          background-color: $blue;
          color: #fff;
          height: 48px;
          padding: 0 24px;
          border-radius: 6px;
          border: none;
          font-size: 1rem;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
}
