.recommendations {
  padding-bottom: 40px;

  .row-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
    flex-basis: 100%;

    .products-display {
      display: flex;
      justify-content: space-between;
      gap: 1em;
    }

    .section-header {
      display: flex;
      align-items: center;
      gap: 1em;
      margin-bottom: 22px;

      h2 {
        font-weight: 300;
        font-size: 1.625rem;
      }
      p {
        font-size: 1rem;
        color: $blue;
      }
    }
  }
}
